
/* Reset */


hr {
  width: 20%;
}

/* Nav */

.navbar {
    margin-bottom: 0;
    background-color: #000;
    opacity: .9;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #000 !important;
    background-color: #ececec !important;
    opacity: .7;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.social-buttons {
  
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 28%;
  /*box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);*/
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.github:before {
  background-color: #563D7C;
}
.social-button.github .fa {
  color: #563D7C;
}
.social-button.freecodecamp:before {
  background-color: #006400;
}
.social-button.freecodecamp .fa {
  color: #006400;
}
.social-button.facebook:before {
  background-color: #3B5998;
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.twitter:before {
  background-color: #0177B5;
}
.social-button.twitter .fa {
  color: #0177B5;
}

.social-button.codepen:before {
    background-color: #757575;
}
.social-button.codepen .fa {
    color: #525252;
}

.social-button.google:before {
  background-color: #DC4A38;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.dribbble:before {
  background-color: #dd0000;
}
.social-button.dribbble .fa {
  color: #dd0000;
}
.social-button.skype:before {
  background-color: #00AFF0;
}
.social-button.skype .fa {
  color: #00AFF0;
}
.social-button:focus:before, .social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 768px){
.social-button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  }
}

body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      background-color: black!important; 
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }

.jumbotron {
  background-color: #000;
  color: #fff;
  padding: 100px 25px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
}

/* Banner Start */

#banner .social-button {
  opacity: .7;
  background-color: #000;
  
 }

 #banner {
  background:url(../images/milky.jpg) center no-repeat;
  background-size:auto;
  height:auto;
  min-height:535px;
  padding-bottom:40px;
  width:100%;
  position:relative;
  background-position: 78.15% 48%;
 }

/* Banner Responsive */

@media (min-width: 1800px){
#banner, #myPage #banner{
    min-height: 845px;
  }
}

@media (min-width: 1200px){
#banner, #myPage #banner {
    background-image: none;
    min-height: 600px;
    overflow: hidden;
  }
}

@media (min-width: 992px){
#banner, #myPage #banner {
    min-height: 500px;
  }
}

 @media (min-width: 768px){
#banner, #myPage #banner {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

 @media (min-width: 768px){
#banner, #myPage #banner {
    min-height: 535px;
  }
}

/* Banner Responsive End */

#dotted-overlay{background:#000;position:absolute;left:0;top:0;width:100%;height:2160px;min-height:100%;z-index:-1;opacity:.3}

#banner, h2, h4 {
  color: #fff;
}  

#title-social {
  padding-top: 120px;
}

.social-top {
  /*padding-top: 115px;*/
}

#bgvid {
    margin: auto;
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    visibility: visible;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-bottom: 5px solid #000;
}


.video-background {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bgvid {
    width: 100%; 
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

#about, #portfolio {
    padding: 60px;
}

#about {
  background-color: black;
}

#about h2, #portfolio h2 {
  color: white;
    text-align: center;
}
#about h4, #portfolio h4 {
    text-align: left;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
}

.modal-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
}

.modal-container img{
    height: 500px;
}

.fancybox-custom .fancybox-skin {
      box-shadow: 0 0 50px #222;
}

.fancybox-inner h2, .fancybox-inner h4 {
  color: black;
    margin-bottom: 10px;
}

.fancybox-close {
    top: 35px;
    right: 35px;
}

#portfolio {
  /*background-image: url("../images/moon.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    /*background-position: 50% 50%;*/
  height: auto;
  color: white;
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 1200px) {
#portfolio {
    background: #212121;
  }
}

#portfolio, h2, h4 {
  color:#fff;
}

/*.p-wrapper h2{
border-bottom: 1px solid white;
margin-bottom: 15px;
}*/
.hovereffect {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
    border: solid rgba(255,255,255,.15) 5px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.2s;
  transition: all 0.1s ease-out 0.2s;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2, .overlay a{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  margin: 50px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


/* Paraxify */

.paraxify { background-attachment: fixed; background-position: center center; background-size: cover; }
.paraxify h2 { padding-top:50px; color:#fff; }
.paraxify p, .paraxify li, .paraxify h3, .paraxify a { color:#fff; font-size:14px; line-height:1.5; }
.para-top {background-image:url(../images/about-cover.jpg);}
.para-bottom {background-image:url(../images/earth.jpg);}
@media (min-width: 1200px){
.para-bottom, .para-top {height: 550px;}
}

@media (min-width: 992px){
.para-bottom, .para-top { height: 500px;}   
}
   
@media (min-width: 768px){
.para-bottom, .para-top{display:block;height:450px}
}

/* END - Paraxify */

/* Footer Start */

footer#footer {
  background: black;
  height: 175px;
}

.social-bot {
  padding-top: 60px;
}

#copyright {
  padding-top: 15px;
  color: white;
  font-weight: bold;
}

  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
    footer#footer {
      height: 140px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

 /* Footer Ends */

 /* Back to Top Start */
 
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(45, 45, 45, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 10px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(74, 74, 74, 0.7);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */

/* Back to Top End */ 

/* Progress Bars */

@import url(http://fonts.googleapis.com/css?family=Expletus+Sans);

#hp-progress hr {
  color: black;
  border-top: 1px solid #000;
}
#hp-progress {
  /*background-image: url("../images/space.jpg"); */
  background-color: white;
  padding-top: 60px;
}

/*#hp-progress li {*/
  /*width: 50%;*/
  /*float: left;*/
  /*list-style-type: none;*/
  /*padding-right: 5.3333333%;*/
/*}*/

/*@media (max-width: 767px) {*/

/*#hp-progress li {*/
  /*width: 100%;*/
/*}*/

/*}*/

/*#hp-progress li:nth-child(even) { margin-bottom: 5em;}*/

#hp-progress h2 {
  color: black;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 0 auto;
}


#skill {
    list-style: none;
    font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    line-height: 2em;
    padding: 30px 0;
}

#skill li {
    margin-bottom:50px;
    background:#e9e5e2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
    background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
    background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
    height:20px;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
    box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h3 {
    position:relative;
    top:-40px;
    font-size: 24px;
    text-align: left;
    color: #000;
}

.bar {
    height:18px;
    margin:1px 2px;
    position:absolute;
    border-radius:10px;
    -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
    box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.skill-100 {
    width:100%;
    -moz-animation:skill-100 2s ease-out;
    -webkit-animation:skill-100 2s ease-out;
    background-color: #0ada24;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0ada24), to(#058816));
    background-image: -webkit-linear-gradient(top, #0ada24, #058816);
    background-image: -moz-linear-gradient(top, #0ada24, #058816);
    background-image: -ms-linear-gradient(top, #0ada24, #058816);
    background-image: -o-linear-gradient(top, #0ada24, #058816);
    background-image: linear-gradient(top, #0ada24, #058816);
}

.skill-90 {
    width:90%;
    -moz-animation:html-css 2s ease-out;
    -webkit-animation:html-css 2s ease-out;
    background-color: #478a3b6e;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#478a3b6e), to(#48a9426b));
    background-image: -webkit-linear-gradient(top, #478a3b6e, #48a9426b);
    background-image: -moz-linear-gradient(top, #478a3b6e, #48a9426b);
    background-image: -ms-linear-gradient(top, #478a3b6e, #48a9426b);
    background-image: -o-linear-gradient(top, #478a3b6e, #48a9426b);
    background-image: linear-gradient(top, #478a3b6e, #48a9426b)
}

.skill-85 {
    width:85%;
    -moz-animation:jquery 2s ease-out;
    -webkit-animation:jquery 2s ease-out;
    background-color: #a1ce5b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
    background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
    background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.skill-80 {
    width:80%;
    -moz-animation:skill-80 2s ease-out;
    -webkit-animation:skill-80 2s ease-out;
    background-color: #f0bb4b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
    background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
    background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.skill-70 {
    width:70%;
    -moz-animation:skill-70 2s ease-out;
    -webkit-animation:skill-70 2s ease-out;
    background-color: #c74c04;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c74c04), to(#f33434));
    background-image: -webkit-linear-gradient(top, #c74c04, #f33434);
    background-image: -moz-linear-gradient(top, #c74c04, #f33434);
    background-image: -ms-linear-gradient(top, #c74c04, #f33434);
    background-image: -o-linear-gradient(top, #c74c04, #f33434);
    background-image: linear-gradient(top, #c74c04, #f33434)
}

.skill-60 {
    width:60%;
    -moz-animation:skill-60 2s ease-out;
    -webkit-animation:skill-60 2s ease-out;
    background-color: #fb6262;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fb6262), to(#d89a0e));
    background-image: -webkit-linear-gradient(top, #fb6262, #d89a0e);
    background-image: -moz-linear-gradient(top, #fb6262, #d89a0e);
    background-image: -ms-linear-gradient(top, #fb6262, #d89a0e);
    background-image: -o-linear-gradient(top, #fb6262, #d89a0e);
    background-image: linear-gradient(top, #fb6262, #d89a0e)
}

@-moz-keyframes skill-100 {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes skill-80   { 0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes skill-70      { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes skill-60      { 0%  { width:0px;} 100%{ width:60%;}  }

@-webkit-keyframes skill-100       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes skill-80   { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes skill-70      { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes skill-60      { 0%  { width:0px;} 100%{ width:60%;}  }

  
/* THE END */

/* Footer */

